/target
/data
/logs
/frontendUi

.idea
/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
Cargo.lock
node_modules/

dist-js
dist
/docs/.vitepress/cache
/static
/*.yaml
/examples/snapshot_demo/target
/docs
